<!DOCTYPE html>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     <a class="navbar-brand">WeLearn CMS</a>
     </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="../document" class="nav-item nav-link">Documents</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="../message" class="nav-item nav-link">Messages</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="../contact" class="nav-item nav-link">Contacts</a>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" cmsDropDown #r="cmsDropDown">
            <a style="cursor: pointer;" class="dropdown-toggle" role="button">DropDown<span class="caret"></span></a>
            <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}">
              <li><a (click)="onLogIn()">Useless Link</a></li>
              <li><a (click)="onOther()">Other Link</a></li>
              <li><a (click)="onLogOut()">Tricky Link</a></li>
            </ul>
            </li>
            </ul>
         </div>
         </div>
         </nav> 