<div class="panel panel-default">
    <div class="panel-body">
  
      <form id="document-edit" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="row">
          <div class="col-sm-12 form-group">

            <label for="name">Document Title:</label>
            <input
              type="text"
              id="name"
              name="name" 
             NgModel 
             required
              class="form-control"
              size="120"
              max="120"
              [ngModel]="document?.name"
              #name="ngModel"
              [placeholder]="originalDocument?.name">
              <span [ngStyle]="{'border':!name.invalid ? '1px solid red' : '1px solid black', 'display':!name.invalid || name.pristine ? 'none' : 'block'}">
                <div class="alert alert-danger">Document name is required.</div>
                </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="description">Document Description:</label>
            <input
              type="text"
              id="description"
              name="description"
              class="form-control"
              NgModel
              size="120"
              max="255"
              [ngModel]="document?.description"
              #description="ngModel"
              [placeholder]="originalDocument?.description">
                 </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="url">Document URL:</label>
            <input
              type="text"
              id="url"
              name="url"
              NgModel
              required
              class="form-control"
              size="120"
              max="255"
              [ngModel]="document?.url"
              #url="ngModel"
              [placeholder]="originalDocument?.url">
              <span [ngStyle]="{'border':url.invalid ? '1px solid red' : '1px solid black', 'display':!url.invalid || url.pristine ? 'none' : 'block'}">
                <div class="alert alert-danger">Document URL is required.</div>
                </span>
             </div>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

 <!-- [hidden]="!url.invalid || url.pristine"-->