<!DOCTYPE html>
<div class="row">
    <div class="panel panel-default">
        <div class="col-xs-12 panel-heading clearfix">
            <h2>{{ selectedContact?.name }}</h2>
        </div>
        <div class="pull-right btn-toolbar">
            <a routerLink="edit" class="btn btn-primary">Edit</a>
            <a (click)="onDelete()"  class="btn btn-danger">Delete</a>
        </div>
    <div class="panel-body">
        <div class="pull-left col-xs-4">
            <img [src]="selectedContact?.imageUrl" 
            alt="{{ selectedContact?.name }}" class="img-responsive" 
            *ngIf="selectedContact?.imageUrl">
        </div>
        <div class="col-xs-8">
            <div class="list-group-item-heading">
                    Email:  {{ selectedContact?.email }}
            </div>
            <div class="list-group-item-heading">
                    Phone: {{ selectedContact?.phone }}
            </div>
        </div>
    </div>
    </div>
</div>

